body {
    margin: 0;
    background-color: #ecece5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto; /* serve a eliminare il margin-bottom che le immagini hanno di default */
}

main, footer {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header a {
    text-decoration: none;
    color: #1a0f0f;
    
   
}

header a:hover {
    color: rgb(43, 53, 169);
    text-decoration: underline;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fc9696;
}

header p {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

header nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

section.hero {
    background:rgba(243,191,105, 0.8);/* colore impostato con RGB e con la trasparenza, che si può notare sopratutto quando cambia il colore di sfondo */
    border-radius: 50px;
    margin: 60px;
    margin-left: 1%;
}


section.hero h1 {
    margin: 20px;
    padding: 30px 10px;
    font-size: 30px;
    color: rgba(255,255,255,0.9);
}
section.hero1 {
    background:rgba(58, 106, 201, 0.8);/* colore impostato con RGB e con la trasparenza, che si può notare sopratutto quando cambia il colore di sfondo */
    text-align: end;
    border-radius: 50px;
    margin: 60px;
    margin-right: 1%;
}


section.hero1 h1 {
    margin: 20px;
    padding: 30px 10px;
    font-size: 30px;
    color: rgba(255,255,255,0.9);
}

main {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

main div.card {
    background: #f3bf69;
    border-radius: 10px;
    text-align: center;
}

main div.card img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    height: 250px;
    width: 100%;
}

main div img {
    border-radius: 10px;
}

main div.card h2 {
    margin: 0;
    padding: 20px 20px 4px 20px;
    font-size: 18px;
}

main div.card p {
    margin: 0;
    padding: 0 20px 20px 20px;
    font-size: 14px;
    line-height: 1.5; /* l'interlinea del testo */
}

main div.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:20px;
}

    
div.end{
    margin: 0;
    text-align: end;
    padding-bottom: 3%;
    padding-right: 2%;
}

footer {
    text-align: center;
    padding: 0;
    background-color: #f59696;
}

footer p {
    border-top:1px solid rgba(0,0,0,0.1);
    margin: 0;
    padding: 20px 0;
    font-size: 14px;
    color:#4a4a4a
}




    header {
        flex-direction: column;
        gap: 10px;
    }